*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: Century Gothic;
	

}

html{
	scroll-behavior: smooth !important;
}


.body{
	background-image: linear-gradient(to top right, #c66055 , rgb(244, 245, 169));
}


.containerr{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 117px 8% 10px 8%;	
}

.gallery{
	grid-gap: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.gallery img{
    width: 100%;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    display: block;
    height: 100%;
}



.backtotop:hover{

    background-color: #fc796b;
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);
    transform: translateY(-3px);
  }


 .backtotop{
	width: 142px;
	display: inline-block;
	background-color: rgb(250, 150, 166);
	padding: 0px 5px 5px 5px;
	position: relative;
	z-index: 1;
	transition: all 0.5s;
	border-radius: 5px;

  }

  .end{
	display: flex;
	align-items: center;
	justify-content: center;
  }